{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}
{% block buy_widget_buy_button_container %}
    {{ parent() }}
    {% if shopware.config.SgateClickAndReserveSW6.config.displayType != 'disabled' %}
        <style type="text/css">
            .rr-wrapper {
                align-items: center;
            }
            #rr-reserve-button {
                flex-grow: 1;
                margin: 4px;
            }
            #rr-omni-reserve-button{
                width: 100%;
                line-height: 38px;
                font-size: 1rem;
            }

            #rr-omni #rr-omni-custom, #rr-omni-reserve-button {
            {{ shopware.config.SgateClickAndReserveSW6.config.colors }}
            }
        </style>
        <div class="rr-wrapper">
            <div id="rr-reserve-button"></div>
            <div id="rr-live-inventory"></div>
        </div>
    {% endif %}
{% endblock %}
