{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_button %}
    <div style="width: 40%" id="rr-dropin"></div>
    <div style="width: 60%">
        {{ parent() }}
    </div>
{% endblock %}
