<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field type="text">
            <name>apiKey</name>
            <label>Storefront API Key</label>
            <copyable>true</copyable>
        </input-field>

        <input-field type="single-select">
            <name>apiStage</name>
            <label>Stage</label>
            <defaultValue>production</defaultValue>
            <options>
                <option>
                    <id>production</id>
                    <name>production</name>
                </option>
                <option>
                    <id>staging</id>
                    <name>staging</name>
                </option>
            </options>
        </input-field>

        <input-field type="single-select">
            <name>unitSystem</name>
            <label>Units</label>
            <defaultValue>metric</defaultValue>
            <options>
                <option>
                    <id>metric</id>
                    <name>metric</name>
                </option>
                <option>
                    <id>imperial</id>
                    <name>imperial</name>
                </option>
            </options>
        </input-field>

        <input-field type="multi-select">
            <name>countries</name>
            <label>Countries</label>
            <helpText>Set the available countries for the store list search</helpText>
            <options>
                <option>
                    <id>de</id>
                    <name>de</name>
                </option>
                <option>
                    <id>us</id>
                    <name>us</name>
                </option>
            </options>
        </input-field>

        <input-field type="bool">
            <name>renderLiveInventory</name>
            <label>Render live inventory</label>
            <helpText>Display the product inventory directly in the Product Details Page and lets the user start the reservation flow.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>renderLiveInventoryMode</name>
            <label>Live inventory render mode</label>
            <helpText>
                When set to "modal" (default behavior) the user can choose a store using the retail.red store list modal. This is recommended if you have many stores in different locations.
                When set to "list" the user can choose a store using simple dropdown without the overhead of going through the store list modal. This is recommended if you have less than 10 locations available
            </helpText>
            <defaultValue>modal</defaultValue>
            <options>
                <option>
                    <id>modal</id>
                    <name>modal</name>
                </option>
                <option>
                    <id>list</id>
                    <name>list</name>
                </option>
            </options>
        </input-field>

        <input-field type="bool">
            <name>inventoryHideNumber</name>
            <label>Hide stock</label>
            <helpText>Hides the stock number and therefore display only if the product is available or not.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="int">
            <name>inventoryShowExactUntil</name>
            <label>Show exact inventory until</label>
            <helpText>If inventory is higher than the given number the inventory will be displayed as "X+ Available"</helpText>
        </input-field>

        <input-field type="int">
            <name>inventoryShowLowUntil</name>
            <label>Show low inventory until</label>
            <helpText>If inventory is lower than the given number the inventory will be displayed in the state-warning color</helpText>
            <defaultValue>5</defaultValue>
        </input-field>

        <input-field type="url">
            <name>termsLink</name>
            <label>Terms Link</label>
            <helpText>Add an url to the terms and condition page, also enforces the user to accept them before placing an reservation</helpText>
            <copyable>true</copyable>
        </input-field>

        <input-field type="url">
            <name>privacyLink</name>
            <label>Privacy Link</label>
            <helpText>Add an url to the privacy page, also enforces the user to accept them before placing an reservation</helpText>
            <copyable>true</copyable>
        </input-field>
    </card>

    <card>
        <title>Color Configuration</title>
        <title lang="de-DE">Farbeinstellungen</title>
        <input-field type="textarea">
            <name>colors</name>
            <label>Colors</label>
            <helpText>Please use only the 3 numbers of rgb schema. rgb(1,2,3) -> 1,2,3</helpText>
            <defaultValue>
                /* Primary color used for form elements and buttons */
                --color-primary: 0, 0, 0;
                /* Color used for links */
                --color-link: 60, 155, 181;
                /* Color used for alerting texts like errors */
                --color-state-alarm : 176, 0, 32;
                /* Color used for highlighting problems like low stock */
                --color-state-warning: 241, 156, 69;
                /* Color used for positve highlighting like successful reservation text. */
                --color-state-success: 50, 172, 92;
            </defaultValue>
        </input-field>
    </card>

    <card>
        <title>Translations</title>
        <title lang="de-DE">Übersetzungen</title>
        <input-field type="textarea">
            <name>translations</name>
            <label>Translations JSON</label>
            <helpText>JSON format. All strings can be found in the github repo</helpText>
            <placeholder>
            {
                "de":{
                    "reserve.submit":"Reserve JETZT"
                },
                "en":{
                    "reserve.submit":"Reserve NOW"
                }
            }
            </placeholder>
        </input-field>
    </card>
</config>
